html {
  scroll-behavior: smooth;
}

@media (min-width: 768px) {
  .main {
    margin: 0 100px;
  }
}

.hero-content,
.description {
  align-self: center;
  text-align: center;
}

.about {
  margin: 0 50px;
}

.section-title {
  text-align: center;
  text-decoration: underline;
  margin-top: 50px;
}

.card {
  padding: 20px;
  margin: 10px 0;
}

.illustration {
  padding: 50px;
}
