<mat-card>
  <div class="card-container">
    <div class="video-container">
      <video *ngIf="cardData.mediaPath"
        [src]="url + '/' + cardData.mediaPath"
        class="video"
        autoplay
        muted
        loop
        controls
      >
    </video>
    </div>
    <div class="content-container">
      <h2>{{ cardData.title }}</h2>
      <h3>{{ cardData.description }}</h3>
      <a
        *ngIf="cardData.projectLink"
        mat-icon-button
        [href]="cardData.projectLink"
        target="_blank"
      >
        <mat-icon>link</mat-icon>
      </a>
      <a
        *ngIf="cardData.codeLink"
        mat-icon-button
        [href]="cardData.codeLink"
        target="_blank"
      >
        <mat-icon>code</mat-icon>
      </a>
      <div
        *ngIf="cardData.languages"
        class="chips"
      >
        <mat-chip-list
          *ngFor="let language of cardData.languages"
          class="chip"
        >
          <mat-chip>{{ language }}</mat-chip>
        </mat-chip-list>
      </div>
      <a
        [routerLink]="['/detail', cardData.id]"
        *ngIf="cardData.details && cardData.details.length > 0"
        mat-stroked-button
      >
        Detalhes
      </a>
    </div>
  </div>
</mat-card>

