<div class="resume">
  <h3>Linguagens:</h3>
  <div class="language-logos">
    <img src="assets/images/languages/java.svg" alt="Logo Java" class="language-logo">
    <img src="assets/images/languages/c-sharp.svg" alt="Logo C Sharp" class="language-logo">
    <img src="assets/images/languages/python.svg" alt="Logo Python" class="language-logo">
    <img src="assets/images/languages/typescript.svg" alt="Logo TypeScript" class="language-logo">
    <img src="assets/images/languages/javascript.svg" alt="Logo JavaScript" class="language-logo">
  </div>

  <h3>Frameworks:</h3>
  <div class="language-logos">
    <img src="assets/images/languages/spring.svg" alt="Logo Spring" class="language-logo">
    <img src="assets/images/languages/dot-net.svg" alt="Logo Dot Net" class="language-logo">
    <img src="assets/images/languages/django.svg" alt="Logo Django" class="language-logo">
    <img src="assets/images/languages/angular.svg" alt="Logo Angular" class="language-logo">
  </div>

  <div class="resume-download">
    <a
      [href]="resumeUrl"
      mat-stroked-button class="round-button"
      target="_blank"
    >
      <mat-icon>download</mat-icon>
      Currículo Completo
    </a>
  </div>
</div>
