a {
  padding: 10px;
}

.banner-container {
  display: flex;
  height: 95vh;
}

.introduction-container {
  margin: auto;
  width: 100%;
}

.illustration-container {
  margin: auto;
  width: 100%;
}

.developer-image {
  width: 70%;
}

.banner-text {
  text-align: center;
}

.round-button {
  border-radius: 50px;
}

.circle-button {
  width: 60px;
  height: 60px;
  margin: 0 0.3rem;
}

@media only screen and (max-width: 600px) {
  .banner-container {
    flex-wrap: wrap;
  }

  .developer-image {
    width: 80%;
    padding: 10%;
  }
}
