<div *ngIf="project" class="introduction-container">
  <div class="project-text-container">
    <h1>{{ project.title }}</h1>
    <h2>{{ project.description }}</h2>
    <a href="/" mat-stroked-button class="round-button">
      <mat-icon>navigate_before</mat-icon>
      <span>Voltar</span>
    </a>
  </div>
  <div class="project-image-container">
    <img
      src="https://welbjr.github.io/portfolio/static/print_provincia_landing_page.jpg"
      alt="Imagem do projeto"
      class="image"
    >
  </div>
</div>
