
@use '@angular/material' as mat;

@include mat.core();

$portfolio-primary: mat.define-palette(mat.$light-green-palette);
$portfolio-accent: mat.define-palette(mat.$light-green-palette, A200, A400);
$portfolio-warn: mat.define-palette(mat.$red-palette);

$portfolio-theme: mat.define-dark-theme((
  color: (
    primary: $portfolio-primary,
    accent: $portfolio-accent,
    warn: $portfolio-warn,
  )
));

@include mat.all-component-themes($portfolio-theme);

